<h3>Tutaj możesz dokonać rejestracji</h3>

<body>

<header>
    <br>

    <ul>
        <a href="/patient/add-form">Rejestracja pacjenta</a>
        <br>
        <br>
        <a href="/patient/patients">Lista pacjentów</a>
        <br>
        <br>
        <a href="doctor/add-form">Rejestracja lekarzy</a>
        <br>
        <br>
        <a href="doctor/doctors">Lista Lekarzy</a>
        <br>
    </ul>


</header>

</body>