<h3>Tutaj możesz dokonać rejestracji</h3>

<body>

<header>
    <br>

    <ul>
        <a href="/patient/add-form"><h2>Rejestracja pacjenta</h2></a>
        <br>
        <a href="/patient/patients"><h2>Lista pacjentów</h2></a>
        <br>
        <a href="doctor/add-form"><h2>Rejestracja lekarzy</h2></a>
        <br>
        <a href="doctor/doctors"><h2>Lista Lekarzy</h2></a>
        <br>
        <a href="visit/add-form"><h2>Zarejestruj się do lekarza</h2></a>
        <br>
        <a href="visit/visits"><h2>Lista wizyt</h2></a>
        <br>
    </ul>


</header>

</body>